{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}РЕСТОРАН!{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav
        class="navbar navbar-expand-lg navbar-dark bg-dark"
        style="height: 50px;"
>
    <a class="navbar-brand" href="#">Название Ресторана</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" href="{{ path('app_home') }}">Главная</a></li>
        <li><a class="nav-link" href="{{ path('app_dish_menu') }}">Меню</a></li>
        {% if app.user %}
            <li><a class="nav-link" href="{{ path('app_dish_menu_edit_index') }}">Управление меню</a></li>
            <li><a class="nav-link" href="{{ path('app_ingredient_index') }}">Ингредиенты</a></li>
            <li><a class="nav-link" href="{{ path('app_logout') }}">Выход</a></li>
        {% else %}
            <li><a class="nav-link" href="{{ path('app_login') }}">Войти</a></li>
            <li>
                <a class="nav-link" href="{{ path('app_registration') }}">Зарегистрироваться</a>
            </li>

        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>